#ifndef __VK_{{ handle_name.toUpperCase() }}_H__
#define __VK_{{ handle_name.toUpperCase() }}_H__

class _{{ handle_name }} : public Napi::ObjectWrap<_{{ handle_name }}> {
  public:
    static Napi::Object Initialize(Napi::Env env, Napi::Object exports);
    _{{ handle_name }}(const Napi::CallbackInfo &info);
    ~_{{ handle_name }}();
    static Napi::FunctionReference constructor;

    // #default properties
    Napi::Value Getaddress(const Napi::CallbackInfo &info);

    // real instance
    {{ handle_name }} instance;

};

#endif