#ifndef __BASE__
#define __BASE__

#include <nan.h>

#define GLFW_INCLUDE_VULKAN
#include <GLFW/glfw3.h>

#include "source.h"

/*
{% for incl in includes -%}
{%- if incl != "" -%}
#include "{{ incl }}.h"
{% endif -%}
{% endfor %}
*/
#endif
