{
  "name": "nvk-v{{ VK_VERSION | safe }}",
  "version": "{{ NVK_VERSION | safe }}",
  "sdkPath": "{{ SDK_PATH | safe }}",
  "gypfile": true,
  "scripts": {},
  "devDependencies": {},
  "dependencies": {}
}
