#include "utils.h"
{{- processSourceIncludes(struct) | safe }}
#include "{{ struct_name }}.h"

Nan::Persistent<v8::FunctionTemplate> _{{ struct_name }}::constructor;

_{{ struct_name }}::_{{ struct_name }}() {
  {{ processMemberAutosType(struct) | safe }}
}

_{{ struct_name }}::~_{{ struct_name }}() {
  //printf("{{ struct_name }} deconstructed!!\n");
}

void _{{ struct_name }}::Initialize(Nan::ADDON_REGISTER_FUNCTION_ARGS_TYPE target) {
  Nan::HandleScope scope;

  // constructor
  v8::Local<v8::FunctionTemplate> ctor = Nan::New<v8::FunctionTemplate>(_{{ struct_name }}::New);
  constructor.Reset(ctor);
  ctor->InstanceTemplate()->SetInternalFieldCount(1);
  ctor->SetClassName(Nan::New("{{ struct_name }}").ToLocalChecked());

  // prototype
  v8::Local<v8::ObjectTemplate> proto = ctor->PrototypeTemplate();
  Nan::SetPrototypeMethod(ctor, "flush", flush);
  {% for member in members -%}
  {%- if ignoreableMember(member) != true -%}
  {{- processSourceMemberAccessor(struct, member) | safe -}}
  {% endif -%}
  {% endfor %}
  Nan::Set(target, Nan::New("{{ struct_name }}").ToLocalChecked(), ctor->GetFunction());
}

NAN_METHOD(_{{ struct_name }}::New) {
  if (info.IsConstructCall()) {
    _{{ struct_name }}* self = new _{{ struct_name }}();
    self->Wrap(info.Holder());
    {% if isStructReturnedOnly(struct) != true %}
    if (info[0]->IsObject()) {
      v8::Local<v8::Object> obj = Nan::To<v8::Object>(info[0]).ToLocalChecked();
      {% for member in members %}
      {%- if ignoreableMember(member) != true -%}
      if (obj->Has(self->sAccess{{ loop.index0 }})) info.This()->Set(self->sAccess{{ loop.index0 }}, obj->Get(self->sAccess{{ loop.index0 }}));
      {% endif -%}
      {% endfor %}
    }
    {% endif %}
    info.GetReturnValue().Set(info.Holder());
  } else {
    Nan::ThrowError("{{ struct_name }} constructor cannot be invoked without 'new'");
  }
};

NAN_METHOD(_{{ struct_name }}::flush) {
  _{{ struct_name }} *self = Nan::ObjectWrap::Unwrap<_{{ struct_name }}>(info.This());
  {% for member in members -%}
  {%- if ignoreableMember(member) != true -%}
  {{- processFlushMemberSetter(struct, member) | safe -}}
  {%- endif -%}
  {%- endfor %}
}

{% for member in members -%}
{%- if ignoreableMember(member) != true -%}
// {{ member.name }}
NAN_GETTER(_{{ struct_name }}::Get{{ member.name }}) {
  _{{ struct_name }} *self = Nan::ObjectWrap::Unwrap<_{{ struct_name }}>(info.This());
  {{- processSourceGetter(struct, member) | safe }}
}
{%- if isStructReturnedOnly(struct) != true -%}
NAN_SETTER(_{{ struct_name }}::Set{{ member.name }}) {
  _{{ struct_name }} *self = Nan::ObjectWrap::Unwrap<_{{ struct_name }}>(info.This());
  {{- processSourceSetter(struct, member) | safe }}
}
{%- endif -%}
{%- endif -%}
{% endfor -%}