generated/*/*/ast.json
generated/*/*/src

generated/*/*/build/Release/obj
generated/*/*/build/Release/*.iobj
generated/*/*/build/Release/*.ipdb
generated/*/*/build/Release/*.pdb
generated/*/*/build/Release/*.map
generated/*/*/build/Release/obj.target

lib
src

examples
examples-dev

docs/*.zip
docs/doc_tmp

generator/specifications/*.xml

releases
