generated/*/*/ast.json
generated/*/*/src

generated/*/*/build/Release/obj
generated/*/*/build/Release/*.iobj
generated/*/*/build/Release/*.ipdb
generated/*/*/build/Release/*.pdb
generated/*/*/build/Release/*.map
generated/*/*/build/Release/obj.target

docs
examples
examples-dev
generator
lib
releases
src

generated/1.1.85
generated/1.1.92
generated/1.1.97
generated/1.1.98
