{{ getHeaderHTML() | safe }}

<vk-title>BigInt | NVK</vk-title>

<vk-centered>

  {{ getNavigationHTML() | safe }}

  <vk-struct>

    <vk-name>BigInt</vk-name>

    <vk-description><i>nvk</i> extends the <vk-property-type type="arraybuffer"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt">BigInt</a></vk-property-type> Object with additional low-level methods.</vk-description>

    </vk-stub><vk-section-title>Additional Properties</vk-section-title>

    <vk-properties>

      <!-- dereference -->
      <vk-property-entry>
        <vk-property-prototype>BigInt.prototype.<vk-prototype-name>dereference</vk-prototype-name></vk-property-prototype>
        <vk-property-type type="number"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt">BigInt</a></vk-property-type>
        <vk-property-description>Dereferences a BigInt, which represents a memory pointer.</vk-property-description>

        <vk-syntax>
          <pre><code class="language-js">let ptr = 42n; // arbitrary pointer
let memoryAddress = ptr.dereference(); // the memory location which ptr points to
let memoryByteLength = 128n; // arbitrary bytelength
let memoryBuffer = ArrayBuffer.fromAddress(memoryAddress, memoryByteLength); // creates a view on the pointed-to memory </code></pre>
        </vk-syntax>

      </vk-property-entry>

    </vk-properties>

  </vk-struct>

</vk-centered>

<script>
const IS_ROOT = false;
</script>

<script type="text/javascript" src="../../assets/js/prism.min.js"></script>
<script type="text/javascript" src="../../assets/js/index.js"></script>
