<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/favicon-144.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../assets/img/favicon-144.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/img/favicon-72.png">
<link rel="apple-touch-icon-precomposed" href="../../assets/img/favicon-32.png">
<link rel="shortcut icon" href="../../assets/img/favicon-32.png">

<link rel="stylesheet" href="../../assets/css/vk.css"/>
<link rel="stylesheet" href="../../assets/css/prism.css"/>

<vk-title>{{ call.name }} | NVK</vk-title>

<vk-centered>

  <!-- Navigation -->
  <vk-navigation>
    <vk-section-title>Search</vk-section-title>
    <vk-search>
      <input type="text" id="search" autocomplete="off" />
      <vk-search-results>
        <ol id="search-list">
          <li id="no-search-results">No Results</li>
          {% for obj in objects -%}
          <li><a href="../{{ getObjectFolder(obj) }}/{{ obj.name }}.html">{{ obj.name }}</a></li>
          {% endfor %}
        </ol>
      </vk-search-results>
    </vk-search>
    <vk-section-title>Categories</vk-section-title>

    {% for category in categories -%}
    <!-- {{ category | safe }} -->
    <details>
       <summary>{{ category | safe }}</summary>
        <ol>
          {% for obj in getObjectsByCategory(category) -%}
          {%- if obj.category == category -%}
          <li><a href="../{{ getObjectFolder(obj) }}/{{ obj.name }}.html">{{ obj.name }}</a></li>
          {% endif -%}
          {% endfor -%}
        </ol>
    </details>
    {% endfor -%}
  </vk-navigation>

  <!-- Call -->

  <!-- Struct -->
  <vk-struct>

    <vk-name>{{ call.name }}</vk-name>

    <vk-description>{{ call.description | safe }}</vk-description>

    <vk-section-title>Syntax</vk-section-title>
    <vk-syntax>
      <pre><code class="language-js">{{ call.name }}();
</code></pre>
    </vk-syntax>

    <vk-section-title>Parameters</vk-section-title>

    <vk-properties>
      {% for param in params -%}
      <!-- {{ param.name }} -->
      <vk-property-entry>
        <vk-property-parameter>{{ param.name }}</vk-property-parameter>
        <vk-property-type type="{{ getCSSType(param) | safe }}">{{ getType(param) | safe }}</vk-property-type>
        <vk-property-description>{{ param.description | safe }}</vk-property-description>
      </vk-property-entry>
      {% endfor %}
    </vk-properties>

  </vk-struct>

</vk-centered>

<script type="text/javascript" src="../../assets/js/prism.min.js"></script>
<script type="text/javascript" src="../../assets/js/index.js"></script>
