{{ getHeaderHTML() | safe }}

<vk-title>{{ handle.name }} | NVK</vk-title>

<vk-centered>

  {{ getNavigationHTML() | safe }}

  <vk-struct>

    <vk-name>{{ handle.name }}</vk-name>

    <vk-description>{{ getObjectDescription(handle) | safe }}</vk-description>

    <vk-section-title>Syntax</vk-section-title>
    <vk-syntax>
      <pre><code class="language-js">{{ instantiationName | safe }} = new {{ handle.name }}();
</code></pre>
    </vk-syntax>

    <vk-section-title>Stub</vk-section-title>
    <vk-stub>
      <pre><code class="language-js">let {{ instantiationName | safe }} = new {{ handle.name }}();</code></pre>
    </vk-stub>

    <vk-section-title>Default Properties</vk-section-title>

    <vk-properties>
      <vk-property-entry>
        <vk-property-prototype>{{ handle.name }}.prototype.<vk-prototype-name>memoryBuffer</vk-prototype-name></vk-property-prototype>
        <vk-property-type type="arraybuffer"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer">ArrayBuffer</a></vk-property-type>
        <vk-property-description>Native memory reference of the handle.</vk-property-description>
      </vk-property-entry>
      <vk-property-entry>
        <vk-property-prototype>{{ handle.name }}.<vk-prototype-name>byteLength</vk-prototype-name></vk-property-prototype>
        <vk-property-type type="number">Number</vk-property-type>
        <vk-property-description>Total native byte length of this handle.</vk-property-description>
      </vk-property-entry>
    </vk-properties>

  </vk-struct>

</vk-centered>

<script>
const IS_ROOT = false;
</script>

<script type="text/javascript" src="../../assets/js/prism.min.js"></script>
<script type="text/javascript" src="../../assets/js/index.js"></script>
