{
  "variables": {
    "root": "../..",
    "platform": "<(OS)",
    "vkVersion": "{{ VK_VERSION | safe }}",
    "vkSDK": "C:/VulkanSDK"
  },
  "conditions": [
    [ "platform == 'win'", { "variables": { "platform": "windows" } } ],
    [ "platform == 'mac'", { "variables": { "platform": "darwin" } } ]
  ],
  "targets": [
    {
      "target_name": "action_after_build",
      "type": "none",
      "conditions": [
        [
          "OS=='win'",
          {
            "copies": [
              {
                "files": [
                  "<(root)/lib/<(platform)/<(target_arch)/GLEW/glew32.dll",
                  "<(root)/lib/<(platform)/<(target_arch)/GLFW/glfw3.dll"
                ],
                "destination": "<(PRODUCT_DIR)"
              }
            ]
          }
        ]
      ]
    },
    {
      "target_name": "addon",
      "sources": [ {{ VK_INCLUDES | safe }} ],
      "include_dirs": [
        "<!(node -e \"require('nan')\")",
        "<(root)/lib/include",
        "<(vkSDK)/<(vkVersion)/Include"
      ],
      "library_dirs": [
        "<(root)/lib/<(platform)/<(target_arch)/GLFW",
        "<(root)/lib/<(platform)/<(target_arch)/GLEW",
        "<(vkSDK)/<(vkVersion)/Lib"
      ],
      "conditions": [
        [
          "OS=='mac'",
          {
            "include_dirs": [ "<!@(pkg-config glfw3 glew --cflags-only-I | sed s/-I//g)"],
            "libraries": [ "<!@(pkg-config --libs glfw3 glew)", "-framework OpenGL"],
            "library_dirs": [ "/usr/local/lib" ],
            "xcode_settings": {
              "OTHER_CPLUSPLUSFLAGS" : ["-std=c++11", "-stdlib=libc++"],
              "OTHER_LDFLAGS": ["-stdlib=libc++"],
              "MACOSX_DEPLOYMENT_TARGET": "10.10"
            }
          }
        ],
        [
          "OS=='win'",
          {
            "cflags": [
              "-stdlib=libstdc++"
            ],
            "link_settings": {
              "libraries": [
                "-lglfw3dll.lib",
                "-lglew32.lib",
                "-lvulkan-1.lib"
              ]
            },
            "defines": [
              "WIN32_LEAN_AND_MEAN",
              "VC_EXTRALEAN",
              "_ITERATOR_DEBUG_LEVEL=0",
              "_HAS_EXCEPTIONS=1"
            ],
            "msvs_settings": {
              "VCCLCompilerTool": {
                "AdditionalOptions": ["/MP /EHsc"],
                "ExceptionHandling": 1
              },
              "VCLibrarianTool": {
                "AdditionalOptions" : ["/NODEFAULTLIB:MSVCRT"]
              },
              "VCLinkerTool": {
                "LinkTimeCodeGeneration": 1,
                "LinkIncremental": 1
              }
            }
          }
        ]
      ]
    }
  ]
}
