body {
  color: rgb(43, 67, 72);
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
  overflow-x: hidden;
  font-size: 1rem;
}

.no-float {
  float: none;
}

vk-search {
  /* background-color: green; */
  /* margin: 0 auto; */
  position: absolute;
  width: calc(100% - 0.5em);
  background: rgba(255,255,255,0.99);
  z-index: 2;
}

vk-search > input {
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
  overflow-x: hidden;
  font-size: 1rem;
  margin-bottom: 0.5em;
  width: 100%;
}

vk-centered {
   /* background-color: green;  */
  margin: 0 auto;
  position: relative;
  width: calc(100%);
  height: auto;
  max-width: 90.0em;
  overflow: hidden;
  /* clear: both; */
  display: block;
}

vk-navigation {
  position: relative;
  margin-right: 0%;
  float: left;
  width: 25%;
  padding: 0.25em;
  display: block;
  background-color: white;
}

vk-struct {
  background-color: white;
}

@media (min-width: 700px) { 
  vk-struct {
    background-color: rgba(255,255,255,0.99);
    position: relative;
    overflow: hidden;
    left:  5%;
    width: 70% !important;
  }
}

@media (max-width: 700px) { 
  vk-navigation {
    width: 100%;
    height: 100px;
  }
  vk-navigation vk-section-title{
    visibility: hidden;
  }
  vk-navigation vk-categories{
    visibility: hidden;
  }
  vk-search {
    width: calc(100% - 1em);
  }
}

vk-navigation > vk-section-title,vk-search-title {
  padding-bottom: 0.5em;
}

vk-property-prototype {
  background: rgba(221,221,221,.35);
  padding: 0.4em;
}

vk-prototype-name {
  font-weight: bold;
  padding: 0.0em;
}

vk-property-parameter {
  background: rgba(221,221,221,.35);
  padding: 0.4em;
  font-weight: bold;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.05);
}

vk-property-type {
  background: rgba(0,0,0,0.035);
  padding: 0.45em;
}

vk-property-type[type="null"]    { color: rgba(146, 207, 0, 1); }
vk-property-type[type="number"]  { color: rgba(28, 0, 207, 1); }
vk-property-type[type="string"]  { color: rgba(197, 25, 22, 1); }
vk-property-type[type="array"]   { color: rgba(171, 13, 144, 1); }
vk-property-type[type="boolean"] { color: rgba(171, 13, 144, 1); }
vk-property-type[type="function"] { color: rgb(27, 200, 206); }
vk-property-type[type="object"]  {
  color: rgba(124, 146, 208, 1);
  cursor: pointer;
}

vk-property-type[type="read-only"] {
  vertical-align: middle;
  padding: 0.25em;
  font-size: 0.5em;
  font-weight: 500;
}

vk-property-type[type="typedarray"] > a:link,
vk-property-type[type="arraybuffer"] > a:link {
  color: rgba(228, 0, 211, 1);
  cursor: pointer;
  text-decoration: underline;
}
vk-property-type[type="typedarray"] > a:visited,
vk-property-type[type="arraybuffer"] > a:visited {
  color: rgba(169, 0, 156, 1);
  cursor: pointer;
  text-decoration: underline;
}

vk-property-type[type="object"] > a:link {
  color: rgba(124, 146, 208, 1);
  cursor: pointer;
  text-decoration: underline;
}
vk-property-type[type="object"] > a:visited {
  color: rgba(63, 84, 146, 1);
  cursor: pointer;
  text-decoration: underline;
}

vk-property-type > vk-property-type {
  background: rgba(0,0,0,0.02);
  float: right;
  margin-left: 0.5em;
  padding: 0.0em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

vk-property-description {
  width: calc(100% - 1em) !important;
  padding: 0.25em;
}

vk-property-entry {
  padding: 0.75em;
}

vk-name {
  font-size: 2.75em;
  padding: 0.25em;
}

vk-title {
  display: none;
}

vk-section-title,vk-search-title {
  font-size: 2em;
  padding-left: 0.25em;
  padding-top: 0.125em;
}

vk-description {
  width: calc(100% - 1em) !important;
  padding: 0.75em;
}

vk-stub, vk-syntax {
  width: calc(100% - 1.5em) !important;
  padding: 0.75em;
  padding-top: 0.25em;
}

vk-category {
  white-space: pre;
  padding: 0.5em;
}

vk-struct,
vk-name,
vk-description,
vk-syntax,
vk-stub,
vk-properties,
vk-property-entry,
vk-property-type,
vk-property-prototype,
vk-prototype-name,
vk-property-description,
vk-section-title,
vk-search-title,
vk-category
{
  display: block;
  width: 100%;
}

vk-property-type,
vk-prototype-name,
vk-property-prototype
{
  display: inline-block !important;
  width: auto !important;
  white-space: pre;
  border: 1px solid rgba(0,0,0,0.05);
}

vk-prototype-name {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

details {
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 0.25em;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
  overflow: hidden;
}

details > ol {
  list-style-type: none;
  padding-left: 0.5em;
}

details > ol > li {
  word-break: break-all;
}

ol > li[label="f"]:before {
  content: "[f] ";
  font-style: italic;
  font-weight: 200;
  color: #9a9a9a;
}

ol > li[label="s"]:before {
  content: "[s] ";
  font-style: italic;
  font-weight: 200;
  color: #9a9a9a;
}

ol > li[label="h"]:before {
  content: "[h] ";
  font-style: italic;
  font-weight: 200;
  color: #9a9a9a;
}

summary {
  outline: none;
}

summary:before {
  display: inline-block;
  width: 1.0em;
}

li > a {
  color: rgba(124, 146, 208, 1);
}

vk-search-results > ol {
  border: 1px solid rgba(0,0,0,0.05);
  padding: 0.5em;
  list-style: none;
  margin-top: -0.5em;
  display: none;
  padding-left: 1em;
  max-height: 50vh;
  overflow: hidden;
}

vk-search-results > ol > li {
  padding-top: 0.25em;
}

vk-search-results > ol > li:before {
  content: "> ";
}

vk-logo {
  position: absolute;
  top: 4px;
  right: 4px;
}

vk-logo > img {
  width: 4em;
}
