/** {{ handle.name }} **/
class {{ handle.name }} {
  constructor(opts) {
    this.memoryBuffer = new ArrayBuffer({{ getHandleByteLength() | safe }});
    this.memoryView = new DataView(this.memoryBuffer);
    this.memoryAddress = getAddressFromArrayBuffer(this.memoryBuffer);
    if (typeof opts === "object") {
      throw new Error("'{{ handle.name }}' doesn't take any arguments");
    }
  }
};

{{ handle.name }}.byteLength = {{ getHandleByteLength() | safe }};
